*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.index-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  max-width: 200px;
  height: 100%;
  background-color: #151e2f;
}

.index-left__logo {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-left__logo svg {
  color: #fff;
}

.index-left__menu {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 16px 0;
}

.index-left__menu li {
  display: list-item;
  margin-bottom: 4px;
  position: relative;
}

.index-left__menu li a {
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-left__menu li svg {
  margin-right: 8px;
  fill: currentColor;
}

.index-left__menu li:hover {
  background-color: #1a2539;
}

.index-left__menu li:active {
  background-color: #1d283c;
}

.index-left__menu li:active::before {
  content: "";
  position: absolute;
  background-color: #2869ff;
  height: 100%;
  width: 4px;
  right: 0;
}

.index-left__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  padding: 16px;
}

.index-avatar__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.index-avatar__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-avatar__name {
  color: #fff;
  margin: 0 8px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-avatar__more {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.index-right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background-color: #101827;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-right__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4px;
}

.index-right__headerText {
  color: #fff;
  line-height: 32px;
  font-size: 24px;
}

.index-right__headerMoon {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 8px;
}

.index-right__addProduct {
  background-color: #2869ff;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;
  cursor: pointer;
  line-height: 24px;
}

.index-right__addProduct:hover {
  background-color: #1e2638;
}

.index-right__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 4px;
}

.index-right__search {
  width: 300px;
  height: 30px;
  background-color: #1d283c;
  border: 1px solid #1d283c;
  padding: 0px 10px 0px 32px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-image: url(../image/search.svg);
}

.index-right__search:hover, .index-right__search:focus {
  border-color: #1e2638;
  background-image: url(../image/search-blue.svg);
}

.index-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
}

.index-filter__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-filter__filter span {
  margin-right: 3px;
}

.actions-button {
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1d283c;
  border: 1px solid #1d283c;
  padding: 5px 8px;
  border-radius: 5px;
  margin-left: 8px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-button svg {
  fill: currentColor;
}

.actions-button:hover {
  border-color: #1e2638;
}

.actions-button:focus, .actions-button:active {
  color: #2869ff;
}

.index-right__table {
  overflow: auto;
  border-radius: 8px;
}

.index-right__table::-webkit-scrollbar {
  width: 12px;
}

.index-right__table::-webkit-scrollbar-thumb {
  background: #1d283c;
  border-radius: 10px;
}

.index-right__table::-webkit-scrollbar-track {
  background: #101827;
  border-radius: 2px;
}

.index-right__table::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.product-header,
.product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d283c;
}

.product-header__item svg,
.product-row__item svg {
  fill: currentColor;
}

.product-header:hover,
.product-row:hover {
  background-color: #101827;
}

.tableItem {
  padding: 8px 16px;
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 20px;
}

.tableItem img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  margin-right: 6px;
}

.product-item__button {
  background-color: transparent;
  border: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 6px;
}

.product-item__button:hover {
  color: #1e2638;
}

.product-item__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding: 1px 10px;
  border-radius: 4px;
}

.product-item__status::before {
  content: "";
  width: 4px;
  height: 4px;
  margin-right: 4px;
  border-radius: 50%;
}

.item-status__active {
  background-color: #2ba97233;
  color: #2ba972;
}

.item-status__active::before {
  background-color: #2ba972;
}

.item-status__disable {
  background-color: #59719d33;
  color: #59719d;
}

.item-status__disable::before {
  background-color: #59719d;
}

.grid-span {
  display: none;
}

.product-image__actions {
  display: none;
}

.index-right__grid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index-right__grid .product-header {
  display: none;
}

.index-right__grid .product-row {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(25% - 16px);
  position: relative;
}

.index-right__grid .product-row:hover {
  scale: 1.01;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #1e2638;
}

.index-right__grid .product-row:hover .product-image__actions {
  display: block;
  position: absolute;
  right: 25px;
  top: 20px;
  border: none;
  background-color: #101827b3;
  fill: #fff;
  border-radius: 4px;
  padding: 4px 4px;
  cursor: pointer;
}

.index-right__grid .tableItem {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  width: 100%;
}

.index-right__grid .tableItem.product-item__image {
  display: block;
}

.index-right__grid .tableItem.product-item__image img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}

.index-right__grid .tableItem.product-item__image span {
  font-size: 18px;
}

.index-right__grid .tableItem:not(.product-item__image) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-right__grid .tableItem:not(.product-item__image) span:not(.product-item__status) {
  display: inline;
  opacity: 0.6;
}

.animation {
  -webkit-animation: gridView .25s;
          animation: gridView .25s;
}

@-webkit-keyframes gridView {
  50% {
    scale: 0.99;
  }
  100% {
    scale: 1;
  }
}

@keyframes gridView {
  50% {
    scale: 0.99;
  }
  100% {
    scale: 1;
  }
}
/*# sourceMappingURL=index.css.map */