$background-right: #101827;
$background-left: rgba(21, 30, 47, 1);

$fff: #fff;
$hover: #1a2539;
$active: #1d283c;
$active-before: #2869ff;
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.index-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.index-wrapper__left {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: $background-left;
}

.index-wrapper__logo {
    padding: 15px;
    display: flex;
    align-items: center;
}

.index-wrapper__menu {
    font-size: 14px;
    line-height: 24px;
    padding: 0;

    li {
        display: list-item;
        margin-bottom: 4px;
        position: relative;

        a {
            padding: 10px 16px;
            text-decoration: none;
            color: $fff;
            width: 100%;
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: $hover;
        }

        &:active {
            background-color: $active;
            // 在元素前添加元素，以content为内容
            &::before{
                content: "";
                position: absolute;
                background-color: $active-before;
                height: 100%;
                width: 4px;
                right: 0;
            }
        }
        
    }
}

.index-wrapper__avatar {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 16px;
}

.index-wrapper__right {
    left: calc(100% - 200px);
    height: 100%;
    background-color: $background-right;
}