*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.index-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  max-width: 200px;
  height: 100%;
  background-color: #151e2f;
}

.index-left__logo {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-left__logo svg {
  color: #fff;
}

.index-left__menu {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 16px 0;
}

.index-left__menu li {
  display: list-item;
  margin-bottom: 4px;
  position: relative;
}

.index-left__menu li a {
  padding: 10px 16px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-left__menu li svg {
  margin-right: 8px;
}

.index-left__menu li:hover {
  background-color: #1a2539;
}

.index-left__menu li:active {
  background-color: #1d283c;
}

.index-left__menu li:active::before {
  content: "";
  position: absolute;
  background-color: #2869ff;
  height: 100%;
  width: 4px;
  right: 0;
}

.index-left__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  padding: 16px;
}

.index-avatar__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.index-avatar__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-avatar__name {
  color: #fff;
  margin: 0 8px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-avatar__more {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.index-right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background-color: #101827;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-right__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4px;
}

.index-right__headerText {
  color: #fff;
  line-height: 32px;
  font-size: 24px;
}

.index-right__headerMoon {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 8px;
}

.index-right__addProduct {
  background-color: #2869ff;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;
  cursor: pointer;
  line-height: 24px;
}

.index-right__addProduct:hover {
  background-color: #6291fd;
}

.index-right__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 4px;
}
/*# sourceMappingURL=index.css.map */