$background-right: #101827;
$background-left: rgba(21, 30, 47, 1);

$fff: #fff;
$hover: #1a2539;
$active: #1d283c;
$active-before: #2869ff;

$filter: #1d283c;
$button-hover: #1e2638;
$product-button: #2869ff;

$status-font-active: #2ba972;
$status-background-active: #2ba97233;
$status-font-disable: #59719d;
$status-background-disable: #59719d33;

$image-background-button: #101827b3;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

// 总布局
.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

// 左边sidebar整个布局
.index-left {
    display: flex;
    flex-direction: column;
    // 容器不会被挤压变形
    flex-shrink: 0;
    // 主轴上初始大小
    flex-basis: 200px;
    max-width: 200px;
    height: 100%;
    background-color: $background-left;

    // 左边logo
    &__logo {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            color: #fff;
        }
    }

    // 左边sidebar除头像和logo外菜单
    &__menu {
        font-size: 14px;
        line-height: 24px;
        padding: 0;
        margin: 16px 0;

        li {
            display: list-item;
            margin-bottom: 4px;
            position: relative;

            a {
                padding: 10px 16px;
                text-decoration: none;
                color: $fff;
                width: 100%;
                display: flex;
                align-items: center;
            }

            svg {
                margin-right: 8px;
                fill: currentColor;
            }

            &:hover {
                background-color: $hover;
            }

            &:active {
                background-color: $active;

                // 在元素前添加元素，以content为内容
                &::before {
                    content: "";
                    position: absolute;
                    background-color: $active-before;
                    height: 100%;
                    width: 4px;
                    right: 0;
                }
            }

        }
    }

    // 头像和图片
    &__avatar {
        display: flex;
        align-items: center;
        margin-top: auto;
        padding: 16px;
    }
}

// 头像
.index-avatar__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    // 保证不会被布局挤压缩小
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// 头像旁名称
.index-avatar__name {
    color: $fff;
    margin: 0 8px;
    font-size: 14px;
    // 不换行
    white-space: nowrap;
    // 两个配合使用，用...表示超出文本
    overflow: hidden;
    text-overflow: ellipsis;
}

// ...按钮
.index-avatar__more {
    color: $fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}


// 右边内容
.index-right {
    // 剩余空间的相对比例
    flex-grow: 1;
    height: 100%;
    background-color: $background-right;
    padding: 16px;
    display: flex;
    flex-direction: column;
    // 头
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4px;

    }

    &__headerText {
        color: $fff;
        line-height: 32px;
        font-size: 24px;
    }

    &__headerMoon {
        background-color: transparent;
        color: $fff;
        border: none;
        cursor: pointer;
        margin-left: auto;
        margin-right: 8px;
    }

    &__addProduct {
        background-color: $product-button;
        border: none;
        color: $fff;
        font-size: 14px;
        border-radius: 4px;
        height: 32px;
        padding: 0 16px;
        cursor: pointer;
        line-height: 24px;

        &:hover {
            background-color: $button-hover;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 4px;
    }

    &__search {
        width: 300px;
        height: 30px;
        background-color: $active;
        border: 1px solid $active;
        padding: 0px 10px 0px 32px;
        color: $fff;
        border-radius: 5px;
        outline: none;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: left 10px center;
        background-image: url(../image/search.svg);

        &:hover,
        &:focus {
            border-color: $button-hover;
            background-image: url(../image/search-blue.svg);
        }
    }
}

// 过滤器
.index-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;

    &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            margin-right: 3px;
        }
    }

}

// 
.actions-button {
    height: 32px;
    font-size: 14px;
    cursor: pointer;
    background-color: $filter;
    border: 1px solid $filter;
    padding: 5px 8px;
    border-radius: 5px;
    margin-left: 8px;
    color: $fff;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        fill: currentColor;
    }

    &:hover {
        border-color: $button-hover;
    }

    &:focus,
    &:active {
        color: $product-button;
    }
}

// 产品table表头
.index-right__table {
    overflow: auto;
    border-radius: 8px;

    // 滚动条宽度
    &::-webkit-scrollbar {
        width: 12px;
    }

    // 滚动条颜色
    &::-webkit-scrollbar-thumb {
        background: $active;
        border-radius: 10px;
    }

    // 滚动条背景色
    &::-webkit-scrollbar-track {
        background: $background-right;
        border-radius: 2px;
    }

    // 滚动条hover色
    &::-webkit-scrollbar-thumb:hover {
        background: #333;
    }

}


// 产品table每行
.product-header,
.product-row {
    display: flex;
    justify-content: center;
    // 不会随滚动条移动
    position: sticky;
    align-items: center;
    background-color: $filter;

    // 表格头item内的svg
    &__item {
        svg {
            fill: currentColor;
        }
    }

    &:hover {
        background-color: $background-right;
    }
}

// 每个item的样式
.tableItem {
    padding: 8px 16px;
    color: $fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    // 撑开容器！很重要
    flex: 1;
    line-height: 20px;

    img {
        width: 32px;
        height: 32px;
        border-radius: 6px;
        margin-right: 6px;
    }

}

// item后面的排序按钮
.product-item__button {
    background-color: transparent;
    border: none;
    color: $fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 6px;

    &:hover {
        color: $button-hover;
    }
}

// tag
.product-item__status {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 1px 10px;
    border-radius: 4px;

    // tag前●
    &::before {
        content: "";
        width: 4px;
        height: 4px;
        margin-right: 4px;
        border-radius: 50%;
    }
}

// 启用tag
.item-status__active {
    background-color: $status-background-active;
    color: $status-font-active;

    &::before {
        background-color: $status-font-active;
    }
}

// 禁用tag
.item-status__disable {
    background-color: $status-background-disable;
    color: $status-font-disable;

    &::before {
        background-color: $status-font-disable;
    }
}







.grid-span {
    display: none;
}

.product-image__actions {
    display: none;
}

// 网格视图
.index-right__grid {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .product-header {
        display: none;
    }

    // 每格数据
    .product-row {
        border-radius: 10px;
        display: flex;
        margin: 8px;
        flex-direction: column;
        width: calc(25% - 16px);
        position: relative;


        &:hover {
            scale: 1.01;
            transition: 0.3s;
            background-color: $button-hover;

            .product-image__actions {
                display: block;
                position: absolute;
                right: 25px;
                top: 20px;
                border: none;
                background-color: $image-background-button;
                fill: $fff;
                border-radius: 4px;
                padding: 4px 4px;
                cursor: pointer;
            }
        }


    }

    // 格子中每行数据
    .tableItem {
        &.product-item__image {
            display: block;

            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                margin-bottom: 16px;
            }

            span {
                font-size: 18px;
            }
        }

        &:not(.product-item__image) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            span {
                &:not(.product-item__status) {
                    display: inline;
                    opacity: 0.6;
                }
            }
        }

        flex: 0;
        width: 100%;
    }
}

.animation {
    animation: gridView .25s;
}

@keyframes gridView {
    50% {
        scale: 0.99;
    }

    100% {
        scale: 1;
    }
}